<% include _header %>
<h2 style="text-align: center;"><strong><%= currentUser.displayName %></strong>, on this page you can edit your personal
    profile.</h2>
<div style="width: 50%; margin-left: auto; margin-right: auto; text-align: center;">
    <form action="/edit" method="post" style="text-align: left;">
        <h4>Email</h4>
        <input name="username" type="email" title="Contact's email (format: xxx@xxx.xxx)"
               pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
               class="form-control" placeholder="Email" required autofocus value="<%= currentUser.username || "" %>">
        <h4>User name</h4>
        <input name="displayName" type="text" class="form-control" placeholder="Display name"
               value="<%= currentUser.displayName || "" %>">
        <h4>Information about you</h4>
        <textarea name="bio" class="form-control"
                  placeholder="Tell us about yourself!"><%= currentUser.bio || "" %></textarea>
        <h2></h2>
        <h4>Favourite restaurants</h4>
        <ul style="list-style-type:none">
        <% if (currentUser.favourite) { %>
            <li><%= currentUser.favourite %></li>
        <% } %>
        </ul>
        <h2></h2>
        <input type="submit" value="Update" class="btn btn-primary btn-block">
    </form>
</div>
<br>
<br>
<% include _footer %>